body{
    background-color: #9cc1c7;
    background-attachment: fixed;
    background-size:cover;
    background-image: url(image/bloor.jpg);
    background-color: #9dc1c7;
}
.one{
    height: 650px;
    width:100%;
    background-image: url(image/pg2.webp);
    background-size:cover;
}
.bg-light {
    background-color: rgba(255, 255, 255, 0.01) !important;
}
.write{
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 42%;
}
.h{
    font-family: 'Bitter', serif;
    font-size: 70px;
}
.p{
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 20px;
    color: #57606f;
}
.card{
    float: left;
    margin-left: 80px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 10px;
}
.c{
    margin-left: 200px;
}
.form{
    background-color: rgba(255, 255, 255, 0.01) !important;
    margin-left: 300px;
}
.in{
  border-radius:20px;
  width: 650px;
  background: white;
  color: #555555;
    border: none;
    display: block;
    padding: 1em 1em;
    text-decoration: none;
    width: 100%;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.65em;
}
b{
  color: #ffffff;
  font-size: 20px;
}
.btn-outline-success {
    color:#9dc1c7;
    border-bottom-color: white;
    border-color:white;
    background-color: white;
}
.btn:hover{
    background-color:#9dc1c7;
}
.login{
    background-image: url(image/pg3.webp);
    font-style:italic;
    color: black;
}
.log{
  margin-top: 30px;
  margin-left: 5%;
  font-size: 20px;
}
.logi{
  border-radius: 20px;
  height: 35px;
  width: 250px;
  font-size: 15px;
  border: none;
   outline: none;
}
.logi:focus{
  background-color:#bdc3c7;
}
.btn{
  margin-left: 10%;
    border-radius: 20px;
    width: 150px;
}
.header{
  margin-left: 200px;
  margin-top: 20px;
  font-family: 'Stint Ultra Condensed', cursive;
}
.aaa{
  color:black;
}
.deco{
text-decoration: none;
    color: white;
}
.t{
  width: 130px;
  font-size: 13px;
  margin-right:20px;
}
.radio {
  float: left;
  margin-right: 80px;
}
